<!DOCTYPE html>
<html>
<head>
  <title>Record and save audio</title>
  <style>
      audio {
        display: block;
        margin: 5px;
      }
    </style>
</head>
<body>
<button id="record">Record</button>
<button id="pause" disabled>Pause</button>
<button id="stop" disabled>Stop</button>
<button id="play" disabled>Play</button>
<button id="save" disabled>Save</button>

<div>
  <a id = "downloadMe" style="display: None">Download Me !!!</a>
  <button id="s2tResult"></button>
</div>

<script async src="static/js/index.js"></script>
</body>
</html>
